@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  min-width: 0;
  min-height: 0;
  font-size: 30px;
  background-color: deepskyblue;
  border-radius: 0 0 5px 5px;
}

.navbar > .navbar-item {
  text-decoration: none;
}

.navbar > .books-btn {
  margin-left: 10px;
  margin-right: auto;
}

.navbar > .cart-btn {
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: 10px;
}

.navbar > .cart-btn > .cart-img {
  width: 100%;
  height: 100%;
}

.main-area {
  display: flex;
  flex: 1;
  width: min(1000px, 100%);
  min-width: 0;
  min-height: 0;
}

.book-list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 15px;
  min-height: 0;
  min-width: 0;
  flex-wrap: wrap;
  row-gap: 15px;
  overflow-y: scroll;
}

.book-list > .book-card {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.book-list > .book-card > .book-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.book-list > .book-card > .book-name {
  width: 100%;
  margin: 5px 0;
  font-size: 30px;
  text-align: center;
}

.book-list > .book-card > .book-description {
  width: 100%;
  padding: 5px;
}

.book-list > .book-card > .book-price {
  width: 45%;
  padding: 5px;
}

.book-list > .book-card > .book-add-section {
  margin-left: auto;
  padding: 5px;
}

.book-list > .book-card > .book-unavailable {
  margin-left: auto;
  padding: 5px;
  font-size: 15px;
  color: red;
}

.cart-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  font-size: 25px;
}

.cart-list > .book-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  border-bottom: 1px solid lightgrey;
}

.cart-list > .book-row > .book-name {
  width: 50%;
}

.cart-list > .book-row > .amount {
  width: 30%;
  text-align: center;
}

.cart-list > .book-row > .price {
  width: 20%;
  text-align: right;
}

.cart-list > .main-row > .name {
  width: 50%;
}

.cart-list > .main-row > .amount {
  width: 30%;
  text-align: center;
}

.cart-list > .main-row > .price {
  width: 20%;
  text-align: right;
}

.cart-list > .main-row {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
